@model CompanyCRUD.Models.CompanyEntry
<div class="row">
    <input asp-for="Id" hidden />
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FieldName" class="control-label"></label>
            <input asp-for="FieldName" class="form-control" />
            <span asp-validation-for="FieldName" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Value" class="control-label"></label>
            <input asp-for="Value" class="form-control" />
            <span asp-validation-for="Value" class="text-danger"></span>
        </div>
    </div>
</div>